@media print {
  @page {
    size: letter;
  }
  body {
    font-size: 11pt;
    .sidebar-wrapper .name {
      font-size: 18pt;
    }
    .section-title .fa-stack {
      display: none;
    }
    a[href]:after {
      display: none;
    }
    .main-wrapper {
      padding-bottom: 0;
      .section {
        margin-bottom: 20px;
      }
      .projects-section .intro {
        margin-bottom: 15px;
      }
      .section-title {
        margin-bottom: 5px;
        font-size: 15pt;
      }
    }
    .skillset .item {
      margin-bottom: 5px;
    }
  }

  img.avatar {
    filter: grayscale(1);
    -webkit-filter: greyscale(1);
    width: 1in;
  }
  .main-wrapper .time {
    float: right;
    color: black !important;
    -webkit-print-color-adjust: exact;
  }
  .sidebar-wrapper {
    position: static;
    float: right;
    width: 32%;
    -webkit-print-color-adjust: exact;
    .container-block {
      padding: 15px;
    }
  }

  .remove-container.container-block {
    display: none;
  }

  footer {
    display: none;
  }

  .skillset .level-bar-inner {
    background-color: black !important;
    -webkit-print-color-adjust: exact;
  }
}
